#balance-banner {
	text-transform: uppercase;
	background-color: #4040A0;
}
.balance-title {
	float: left;
	display: inline-block;
	width: 50%;
}
.drop-button {
  width: 100%;
  background-color: #1c74b2;
  color: white;
  padding: 10px;
  font-size: 50px;
  border: none;
  cursor: pointer;
  border-radius: 20px;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  /*position: relative;*/
  display: inline-block;
  width: 440px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  text-transform: none;
  position: absolute;
  background-color: #a8a8a8;
  width: 440px;
  z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}
/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .drop-button {
  background-color: #3e8e41;
}
.balancetable {
	float: left;
	width: 880px;
	margin: 10px;
	background-color: silver;
}
#incomesribbon {
	background-color: #3e8e41;
	width: 880px;
	float: left;
	color: white;
}
#expensesribbon {
	background-color: #A04040;
	width: 880px;
	float: left;
	color: white;
}
.balanceline {
	font-size: 50px;
	color: black;
}
.balanceline .left {
	float: left;
	padding: 10px;
	width: 570px;
	text-align: left;
}
.balanceline .right {
	float: left;
	padding: 10px;
	width: 270px;
	text-align: right;
}
#balancepart {
	background-color: #3e8e41;
}
#balance-sum {
	color: white;
}
.chart {
	float: left;
	width: 840px;
	margin: 10px;
	padding: 20px;
	background-color: white;
}