body {
	background-color: #FFFBD9;
	color: #7F9949;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h1 {
		font-weight: 700;
}

/* <header> stylization */
.ribbon {
	background-color: #7F9949;
	min-height: 70px;
}
.logo {
	text-align: center;
	padding: 10px;
}
.nav-item {
	background-color: #BBCC99;
	margin: 5px;
	min-width: 170px;
	text-align: center;
	border-radius: 10px;
	border: 2px solid #7F9949;
}
.nav-item:hover {
	background-color: #99AACC;
	border: 2px solid #6973FA;
}

/* login.htm&registration.htm <main> stylization */
.form-box {
	padding: 50px;
	margin-left: auto;
	margin-right: auto;
	max-width: 440px;
}
.input-container {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
}
.input-field {
	background-color: white;
	font-size: 20px;
	color: #7F9949;
	width: 100%;
	padding: 10px;
	border: 2px solid #7F9949;
	outline: none;
	border-radius: 0px 5px 5px 0px; 
}
.btn {
	background-color: #7F9949;
	font-size: 20px;
	color: white;
	padding: 10px;
	border: none;
	cursor: pointer;
	width: 100%;
	border-radius: 0px;
}
.bg-icon {
	background: #7F9949;
	min-width: 50px;
	border-radius: 5px 0px 0px 5px;
}
.single-icon {
	padding: 18px 7px 7px 7px;
	color: white;
}
.submit-container {
	display: flex;
	width: 100%;
	margin-bottom: 15px;
	border: 2px solid #7F9949;
	border-radius: 5px;
	background-color: white;
}
.submit-icon {
	padding: 17px 0px 0px 0px;
	min-width: 50px;
}
.btn:hover {
	background-color: #99AACC;
}
.submit-container:hover {
	border: 2px solid #6973FA;
	color: #6973FA;
}
/* settings.htm */
.settings-group {
	padding: 10px;
	background-color: #BBCC99;
	border-radius: 10px;
	border: 2px solid #7F9949;
	color: rgba(0, 0, 0, 0.5);
	text-align: center;
}
.nav-link {
	color: rgba(0, 0, 0, 0.5);
}
.nav-link:hover {
	color: rgba(0, 0, 0, 0.7);
}
