body {
	background-color: #FFFBD9;
	color: #7F9949;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}
h1 {
		font-weight: 700;
}
.ribbon {
	background-color: #7F9949;
	min-height: 70px;
}
.logo {
	text-align: center;
	padding: 10px;
}
.nav-item {
	background-color: #BBCC99;
	margin: 5px;
	min-width: 170px;
	text-align: center;
	border-radius: 10px;
}

