#menu-banner {
	text-transform: uppercase;
	background-color: #8b4726;
}
.menu-tile {
	height: 270px;
	width: 430px;
	margin: 10px;
	float: left;
	text-align: center;
}
#tile-income {
	background-color: #60C060;
}
#tile-income:hover {
	background-color: #40A040;
}
#tile-expense {
	background-color: #C06060;
}
#tile-expense:hover {
	background-color: #A04040;
}
#tile-balance {
	background-color: #6060C0;
}
#tile-balance:hover {
	background-color: #4040A0;
}
#tile-settings {
	background-color: #606060;
}
#tile-settings:hover {
	background-color: #404040;
}
.menu-icon {
	width:35%;
	height: 100%;
	float:left;
	text-align: center ;
	line-height: 270px;
}
.menu-text {
	width: 65%;
	height: 100%;
	float:left;
	font-size: 50px;
	line-height: 100px;
	margin-top: 30px;
	text-align: left;
	text-transform: uppercase;
}
#balance-text {
	margin-top: 0px;
	line-height: 270px;
}
#settings-text {
	margin-top: 0px;
	line-height: 270px;
	font-size: 40px;
}