#regi-banner {
	text-transform: uppercase;
	background-color: #E7AE00;
}
#login-banner {
	text-transform: uppercase;
	background-color: #E76200;
}
#regi-login-content {
	width: 880px;
	margin: 10px;
	background-color: #444;
}
#regi-login-box {
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
input[type=text], input[type=password] {
	width: 300px;
	background-color: #efefef;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=submit] {
	width: 300px;
	background-color: #60C060;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin: 10px 0px 10px 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
input[type=submit]:hover {
	background-color: #40A040;
}