body {
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 50px;
}
a {
		color: #ffffff;
}
div {
	border-radius: 20px;
}
fieldset {
	float: left;
	margin: 10px;
}
textarea {
	resize:none;
	font-size: 40px;
}
#container {
	width: 900px;
	margin-left: auto;
	margin-right: auto;
	/*background-color: gold; /* test */
}
.ribbon {
	margin: 10px;
	width: 880px;
	float: left;
	text-align: center;
	line-height: 200%;
	background-color: #1c74b2;
}
#empty-logo {
	width: 20%;
	float: left;
}
#logo {
	float: left;
	width: 60%;
	text-transform: uppercase;
}
#exit {
	font-size: 30px;
	text-align: center;
	text-decoration: none;
	width: 20% ;
	float: left;
}
#exit:hover {
	background-color: #005492;
}
#regi-banner {
	text-transform: uppercase;
	background-color: #E7AE00;
}
#login-banner {
	text-transform: uppercase;
	background-color: #E76200;
}
#menu-banner {
	text-transform: uppercase;
	background-color: #8b4726;
}
#expense-banner {
	text-transform: uppercase;
	background-color: #A04040;
}
.window {
	width: 100%;
	float: left;
	/*background-color: silver; /* test */
	/*min-height: 470px; /* test */
}
#regi-login-content {
	width: 880px;
	margin: 10px;
	background-color: #444;
}
#regi-login-box {
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}
input[type=text]#entrance, input[type=password]#entrance {
	width: 300px;
	background-color: #efefef;
	border: 2px solid #ddd;
	border-radius: 5px;
	font-size: 20px;
	padding: 10px;
	box-sizing: border-box;
	outline: none;
	margin-top: 10px;
}
input[type=submit]#entrance {
	width: 300px;
	background-color: #60C060;
	font-size:20px;
	color: white;
	padding: 15px 10px;
	margin: 10px 0px 10px 0px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}
input[type=submit]#entrance:hover {
	background-color: #40A040;
}
.menu-tile {
	height: 270px;
	width: 430px;
	margin: 10px;
	float: left;
	text-align: center;
}
#tile-income {
	background-color: #60C060;
}
#tile-income:hover {
	background-color: #40A040;
}
#tile-expense {
	background-color: #C06060;
}
#tile-expense:hover {
	background-color: #A04040;
}
#tile-balance {
	background-color: #6060C0;
}
#tile-balance:hover {
	background-color: #4040A0;
}
#tile-settings {
	background-color: #606060;
}
#tile-settings:hover {
	background-color: #404040;
}
.menu-icon {
	width:35%;
	height: 100%;
	float:left;
	text-align: center ;
	line-height: 270px;
}
.menu-text {
	width: 65%;
	height: 100%;
	float:left;
	font-size: 50px;
	line-height: 100px;
	margin-top: 30px;
	text-align: left;
	text-transform: uppercase;
}
#balance-text {
	margin-top: 0px;
	line-height: 270px;
}
#settings-text {
	margin-top: 0px;
	line-height: 270px;
	font-size: 40px;
}
.expense-properties-tile {
	float: left;
	margin: 10px;
	width: 880px;
	background-color: #444;
}
#expense {
	font-size:40px;
}
.amount-date-paytype {
	margin: 0px;
	width: 880px;
	line-height: 40px;
}

.amount-date-paytype input[type=number] {
	font-size: 160px;
	height: 180px;
	text-align:right;
	width: 790px;
}
.amount-date-paytype input[type=date] {
	font-size:40px;
	height: 100px;
	width: 350px;
}
.amount-date-paytype select {
	font-size:40px;
	height: 104px;
	width: 350px;
}
.amount-date-paytype select#category {
	width:790px;
}
#expense-notes {
	float: left;
	margin: 10px;
	width: 580px;
	height: 320px;
	background-color: #444;
}
#expense-notes textarea{
	float: left;
	width: 490px;
	height: 200px;
}
#expense-accept input[type=submit] {
	color: #ffffff;
	border-radius: 20px;
	float: left;
	margin: 10px;
	width: 280px;
	height: 320px;
	background-color: #444;
	font-size:60px;
	cursor: pointer;
	border: none;
	white-space: normal;
}
#expense-accept input[type=submit]:hover {
	background-color: #A04040;
}
