body {
	background-color: #303030;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 35px;
}
a {
		color: #ffffff;
}
div {
	border-radius: 5px;
}
#container {
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	background-color: gold; /* test */
}
.ribbon {
	margin: 10px;
	width: 780px;
	float: left;
	text-align: center;
	line-height: 200%;
	background-color: #1c74b2;
}
#empty-logo {
	width: 20%;
	float: left;
}
#logo {
	float: left;
	width: 60%;
	text-transform: uppercase;
}
#exit {
	font-size: 20px;
	text-align: center;
	text-decoration: none;
	width: 20% ;
	float: left;
}
#exit:hover {
	background-color: #005492;
}
#regi-banner {
	text-transform: uppercase;
	background-color: #E7AE00;
}
.window {
	width: 100%;
	float: left;
	background-color: silver; /* test */
	min-height: 470px; /* test */
}
#registration {
	width: 780px;
	margin: 10px;
	background-color: #444;
}
#regi-login-box {
	width: 300px;
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}